{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <div class="row">

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>img</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in all_products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <img src="{{ product.img.url }}" alt="" width="50px">
                        </td>
                        <td>
                            <a href="product/{{ product.id }}/">
                                <div class="btn btn-primary">View</div>
                            </a>
                            <div class="btn btn-secondary">Edit</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}